<nz-layout class="index">
  <nz-header class="index-header">
    <div class="index-header-logo">
      <a href="/">
        <img [src]="logoSvg" alt="logo" />
        {{ systemName }}
      </a>
    </div>
    <div class="index-header-center"></div>
    <div class="index-header-right">
      <span nz-dropdown [nzDropdownMenu]="colorPickerMenu" class="index-header-right-item">
        <span nz-icon nzType="bg-colors" style="font-size: 16px"></span>
      </span>
      <nz-dropdown-menu #colorPickerMenu>
        <app-color-picker
          appValue="#1890ff"
          (appChange)="colorPickerChange($event)"
          [appPresets]="[
            '#1677ff',
            '#f5222d',
            '#fa541c',
            '#faad14',
            '#13c2c2',
            '#52c41a',
            '#2f54eb',
            '#722ed1'
          ]"
        />
      </nz-dropdown-menu>
      <span
        nz-dropdown
        [nzDropdownMenu]="menu"
        class="index-header-right-item index-header-right-item_user"
      >
        <nz-avatar nzSize="small" nzSrc="assets/image/user.png" />
        <span style="margin-left: 8px">{{ userInfoStore.data.userName }}</span>
      </span>
      <nz-dropdown-menu #menu>
        <ul nz-menu nzSelectable>
          <li nz-menu-item routerLink="/personalCenter">
            {{ translate.get('personalCenter') | async }}
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="logout()">{{ translate.get('logOut') | async }}</li>
        </ul>
      </nz-dropdown-menu>
      <app-toggle-language appClass="index-header-right-item" />
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      nzCollapsible
      [nzWidth]="208"
      [nzCollapsedWidth]="48"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      nzTheme="light"
    >
      <div class="index-slider-content">
        <ul nz-menu nzMode="inline" [style.width]="isCollapsed ? '48px' : null">
          <li
            nz-menu-item
            nzMatchRouter
            nzMatchRouterExact
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? (translate.get('homePage') | async) : ''"
          >
            <span nz-icon nzType="dashboard"></span>
            <span>
              <a routerLink="/">{{ translate.get('homePage') | async }}</a>
            </span>
          </li>

          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
          <ng-template #menuTpl let-menus>
            <ng-container *ngFor="let menu of menus">
              <li
                *ngIf="!menu.children"
                nz-menu-item
                [nzPaddingLeft]="isCollapsed ? 0 : menu.level * 24"
                nzMatchRouter
                nzMatchRouterExact
              >
                <a [routerLink]="menu.path">{{ translate.get(menu.title) | async }}</a>
              </li>
              <li
                *ngIf="menu.children"
                nz-submenu
                [nzPaddingLeft]="isCollapsed ? 0 : menu.level * 24"
                [nzTitle]="translate.get(menu.title) | async"
                [nzIcon]="menu.icon"
              >
                <ul>
                  <ng-container
                    *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"
                  ></ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-template>

          <li
            nz-menu-item
            nzMatchRouter
            nzMatchRouterExact
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? (translate.get('personalCenter') | async) : ''"
          >
            <span nz-icon nzType="user"></span>
            <span>
              <a routerLink="/personalCenter">{{ translate.get('personalCenter') | async }}</a>
            </span>
          </li>
        </ul>
      </div>
    </nz-sider>
    <nz-layout style="padding: 0 24px 24px">
      <nz-breadcrumb style="margin: 16px 0">
        <nz-breadcrumb-item *ngFor="let item of breadcrumbs">{{
          translate.get(item.menuName) | async
        }}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content [@routeAnimations]="getRouteAnimationData()" class="index-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
