<div class="authenticate">
  <div class="authenticate-header">
    <app-toggle-language />
  </div>
  <div class="authenticate-title">{{ systemName }}</div>
  <div class="authenticate-desc">
    {{ translate.get('systemDesc', { value: systemName }) | async }}
  </div>
  <div class="authenticate-main">
    <ng-content></ng-content>
  </div>
  <div class="authenticate-footer">
    Copyright © 2023 {{ systemName }}<nz-divider nzType="vertical" /><a
      target="_blank"
      routerLink="/privacyPolicy"
      >{{ translate.get('privacyPolicy') | async }}</a
    >
  </div>
</div>
