<span nz-dropdown [nzDropdownMenu]="menu" [class]="appClass">
  <span nz-icon nzType="global" style="font-size: 16px"></span>
</span>
<nz-dropdown-menu #menu>
  <ul nz-menu>
    <li
      nz-menu-item
      (click)="changeHandler('zh-CN')"
      [nzSelected]="translate.defaultLang === 'zh-CN'"
    >
      简体中文
    </li>
    <li
      nz-menu-item
      (click)="changeHandler('en-US')"
      [nzSelected]="translate.defaultLang === 'en-US'"
    >
      English
    </li>
  </ul>
</nz-dropdown-menu>
