<app-layout>
  <form nz-form [formGroup]="form" (ngSubmit)="submitHandler()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="translate.get('pleaseEnterAccount') | async">
        <nz-input-group class="input-group" nzPrefixIcon="user" nzSize="large">
          <input
            nz-input
            formControlName="username"
            [placeholder]="translate.get('account') | async"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="translate.get('pleaseEnterPassword') | async">
        <nz-input-group class="input-group" nzPrefixIcon="lock" nzSize="large">
          <input
            type="password"
            nz-input
            formControlName="password"
            [placeholder]="translate.get('password') | async"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="display: block">
      <a routerLink="/register">{{ translate.get('signUp') | async }}</a>
      <a routerLink="/findPassword" style="float: right">{{
        translate.get('forgotPassword') | async
      }}</a>
    </nz-form-item>
    <button nz-button nzType="primary" nzBlock nzSize="large" [nzLoading]="loading">
      {{ translate.get('login') | async }}
    </button>
  </form>
</app-layout>
