<app-layout>
  <form nz-form [formGroup]="form" (ngSubmit)="submitHandler()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="translate.get('pleaseEnterAccount') | async">
        <input
          nz-input
          nzSize="large"
          formControlName="username"
          [placeholder]="translate.get('account') | async"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passwordErrorTpl">
        <input
          type="password"
          nz-input
          nzSize="large"
          formControlName="password"
          [placeholder]="translate.get('password') | async"
        />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('password')">{{
            translate.get('passwordRule') | async
          }}</ng-container>
          <ng-container *ngIf="control.hasError('required')">{{
            translate.get('pleaseEnterPassword') | async
          }}</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
        <input
          type="password"
          nz-input
          nzSize="large"
          formControlName="confirmPassword"
          [placeholder]="translate.get('confirmPassword') | async"
        />
        <ng-template #confirmPasswordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('confirmPassword')">{{
            translate.get('twoPasswordsDoNotMatch') | async
          }}</ng-container>
          <ng-container *ngIf="control.hasError('required')">{{
            translate.get('pleaseEnterPassword') | async
          }}</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="phoneErrorTpl">
        <input
          nz-input
          nzSize="large"
          formControlName="phone"
          [placeholder]="translate.get('mobileNumber') | async"
        />
        <ng-template #phoneErrorTpl let-control>
          <ng-container *ngIf="control.hasError('phone')">{{
            translate.get('phoneRule') | async
          }}</ng-container>
          <ng-container *ngIf="control.hasError('required')">{{
            translate.get('pleaseEnterMobileNumber') | async
          }}</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [nzGutter]="16">
      <nz-form-control
        nzSpan="16"
        [nzErrorTip]="translate.get('pleaseEnterVerificationCode') | async"
      >
        <input
          nz-input
          nzSize="large"
          formControlName="code"
          [placeholder]="translate.get('verificationCode') | async"
        />
      </nz-form-control>
      <nz-col nzSpan="8">
        <button
          nz-button
          nzBlock
          nzSize="large"
          [nzLoading]="codeLoading"
          [disabled]="codeTime > 0"
          (click)="getCodeHandler($event)"
        >
          {{ getCodeText() | async }}
        </button>
      </nz-col>
    </nz-form-item>

    <div *ngIf="phoneCode">{{ phoneCode }}</div>

    <nz-form-item style="display: block">
      <a routerLink="/login">{{ translate.get('haveAnAccount') | async }}</a>
    </nz-form-item>

    <button nz-button nzType="primary" [nzLoading]="submitLoading" nzBlock nzSize="large">
      {{ translate.get('register') | async }}
    </button>
  </form>
</app-layout>
