<app-layout>
  <form nz-form [formGroup]="form" (ngSubmit)="submitHandler()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="translate.get('pleaseEnterAccount') | async">
        <input
          type="text"
          nz-input
          nzSize="large"
          formControlName="userName"
          [placeholder]="translate.get('account') | async"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="translate.get('pleaseEnterPassword') | async">
        <input
          type="password"
          nz-input
          nzSize="large"
          formControlName="password"
          [placeholder]="translate.get('password') | async"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="translate.get('pleaseEnterPassword') | async">
        <input
          type="password"
          nz-input
          nzSize="large"
          formControlName="confirmPassword"
          [placeholder]="translate.get('confirmPassword') | async"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="translate.get('pleaseEnterMobileNumber') | async">
        <input
          type="text"
          nz-input
          nzSize="large"
          formControlName="phone"
          [placeholder]="translate.get('mobileNumber') | async"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [nzGutter]="16">
      <nz-form-control
        nzSpan="16"
        [nzErrorTip]="translate.get('pleaseEnterVerificationCode') | async"
      >
        <input
          type="text"
          nz-input
          nzSize="large"
          formControlName="code"
          [placeholder]="translate.get('verificationCode') | async"
        />
      </nz-form-control>
      <nz-col nzSpan="8">
        <button nz-button nzBlock nzSize="large">
          {{ translate.get('getVerificationCode') | async }}
        </button>
      </nz-col>
    </nz-form-item>
    <nz-form-item style="display: block">
      <a routerLink="/login">{{ translate.get('haveAnAccount') | async }}</a>
    </nz-form-item>

    <button nz-button nzType="primary" nzBlock nzSize="large">
      {{ translate.get('register') | async }}
    </button>
  </form>
</app-layout>
