<nz-page-header (nzBack)="backHandler()" nzBackIcon [nzTitle]="translate.get('detail') | async">
  <nz-page-header-extra>
    <button
      nz-button
      nzType="primary"
      [disabled]="auth.getOperateAuth('edit') | async"
      (click)="editHandler()"
    >
      {{ translate.get('edit') | async }}
    </button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-skeleton [nzLoading]="loading">
      <nz-descriptions nzBordered>
        <nz-descriptions-item nzTitle="名称">{{ details.name }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="品牌">{{ details.brand }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="分类">{{ details.category }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="价格">{{ details.price }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="颜色">{{ details.color }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="库存">{{ details.inventory }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="样式" [nzSpan]="3">{{ details.style }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="描述" [nzSpan]="3">{{
          details.describe
        }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="图片" [nzSpan]="3">
          <nz-image-group>
            <img
              nz-image
              width="104px"
              height="104px"
              *ngFor="let url of details.images"
              [nzSrc]="url"
              :alt="url"
            />
          </nz-image-group>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-skeleton>
  </nz-page-header-content>
</nz-page-header>
